*, *::after, *::before {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--font-dark);
  height: 100%;
  min-width: 320px;
}

#app {
  display: flex;
  flex-direction: column;
  height: 100%;
}
