@mixin list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin link-reset {
  color: inherit;
  text-decoration: none;
  outline: none;
}

@mixin button-reset {
  border: none;
  background: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
  border-radius: 0;
  outline: none;
}

@mixin visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

@mixin image-contain {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

@mixin image-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

@mixin ease($properties...) {
  transition: var(--hover-transition) ease;

  @if length($properties) > 0 {
    transition-property: $properties;
  }
}

@mixin cross ($size, $thickness) {
  position: relative;

  &::before, &::after {
    content: '';
    position: absolute;
    height: $thickness;
    width: $size;
    left: 50%;
    top: 50%;
    background-color: currentColor;
  }

  &::before {
    transform: translate(-50%, -50%) rotate(-45deg);
  }

  &::after {
    transform: translate(-50%, -50%) rotate(45deg);
  }
}