:root {
  // Base colors
  --main-gray: #c1c8d0;
  --main-light-gray: #e2e5ea;
  --main-white: #ffffff;

  // Font colors
  --font-dark: #2c3e50;
  --font-green: #42b983;

  // Layers
  --z-back: -1;
  --z-base: 1;
  --z-modals: 10;
  --z-overlays: 100;
  --z-extra: 999999;

  // Other
  --hover-transition: 0.15s;
  --active-opacity: 0.4;
}

// Viewports
$mediaTablet: 'min-width: 768px';
$mediaDesktop: 'min-width: 1240px';