.left-menu-modal {
  &__title {
    font-size: 26px;
    margin: 0;
  }

  &__list {
    @include list-reset;
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 20px;
  }

  &__link-button {
    padding: 0;
    width: 100%;
  }

  &__link {
    @include link-reset;
    display: block;
    width: 100%;
    padding: 10px;
  }
}